
{{> header}}
  <form action="/update/{{id}}" method="post">
    <div>
      <div>
        <h1> Créer une nouvelle recette </h1>
        <p>Titre : <input type="text" name="title" value="{{title}}"></p>
        <p>Description : <br> <textarea name="description">{{description}}</textarea></p>
        <p>Durée : <input type="text" name="duration" value="{{duration}}"></p>
        <p>Image : <input type="text" name="img" value="{{img}}"></p>

        <h2> Ingrédients (liste à tirets)</h2>
        <p><textarea name="ingredients" rows="10">{{#ingredients}}- {{name}}
{{/ingredients}}</textarea></p>
        <h2> Étapes (liste à tirets)</h2>
        <p><textarea name="stages" rows="10">{{#stages}}- {{description}}
{{/stages}}</textarea></p>

        <div>
          <input type="submit" class="btn btn-primary" value="Modifier">
          <a href="/read/{{id}}">Annuler</a>
        </div>
      </div>
    </div>
  </form>
{{> footer}}
